[submodule "Externals/SMAssistant"]
	path = Externals/SMAssistant
	url = ../framework-assistant.git
[submodule "Externals/SMFoundation"]
	path = Externals/SMFoundation
	url = ../framework-foundation.git
[submodule "Externals/SMTor"]
	path = Externals/SMTor
	url = ../framework-tor.git
